// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quest_description {
  height: 500px;
  resize: none;
}

// quests/index
.quest-author-col {
  text-align: right;
  color: #e3e3e3;

  a {
    color: inherit;
  }
}

.quest-manage-buttons-col {
  text-align: right;
}

.new-quest-index {
  width: 100%;
}

.resend-btn {
  margin-left: 10px;
}

.top-users {
  tr:nth-child(1) {
    background-color: rgba(212 , 175 , 55, .2)
  }
  tr:nth-child(2) {
    background-color: rgba(192 , 192 , 192, .2)
  }
  tr:nth-child(3) {
    background-color: rgba(166, 125, 61, .2)
  }
}

//------------
// notifications
.notification-partial {
  border-width: 5px;
  font-size: 1.3em;
  b {
    color: #7f1ff0;
    text-decoration: underline;
  }
}


//-----------
// quests/show
.single-mission {
  word-wrap: break-word;
  position: relative;
  overflow: hidden;

  .corner-ribbon {
    width: 100px;
    height: 17px;
    position: absolute;

    //background-color: #e00;
    top: 10px;
    right: -33.3px;
    left: auto;
    text-align: center;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    &.easy {
      background-color: #316af0;
    }

    &.medium {
      background-color: #7f1ff0;
    }

    &.hard {
      background-color: #fd2612;
    }

    &.legendary {
      background-color: #ee912f;
    }
  }
}

.mission-show-key {
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }
}

// creator form
#add-key-button {
  width: 100%;
}

.keys {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: warp;
  justify-content: flex-start;
}

.single-key {
  box-sizing: border-box;
  width: 32%;
  margin-bottom: 5px;
  margin-left: 2%;

  &:nth-child(3n+1) {
    margin-left: 0;
  }
}
//------------

.description-show {
  word-wrap: break-word;
}

//------------
//.index-new-quest {
//width: 100%;
//}

//// show as creator

//.description-show {
//margin-top: 40px;
//}

//.new-mission-from-quest-show {
//padding: 10px;
//background-color: #e3e3e3;
//border-radius: 10px;

//#add-key-button {
//width: 100%;
//}
//}

//.keys {
//display: flex;

//flex-flow: row wrap;
//flex-wrap: warp;
//justify-content: flex-start;
//}

//.errors-keys {
//color: #a94442;
//font-size: 14px;
//margin-top: 5px;
//}

//// show as non-creator

//.mission-card {
//form {
//input {
//margin-left: 5px;
//}
//}
//}

//.owned-quest-panel {
//text-align: center;
//}

//.owned-quest-link-index {
//font-size: 17px;
//}

//.owned-quest-control-group {
//margin-top: 10px;

//}
