// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quest_description {
  height: 500px;
  resize: none;
}

.index-new-quest {
  width: 100%;
}

.description-show {
  margin-top: 40px;
}

.new-mission-from-quest-show {
  padding: 10px;
  background-color: #e3e3e3;
  border-radius: 10px;

  #add-key-button {
    width: 100%;
  }
}

.keys {
  display: flex;

  flex-flow: row wrap;
  flex-wrap: warp;
  justify-content: flex-start;
}

.single-key {
  box-sizing: border-box;
  width: 32%;
  margin-bottom: 5px;
  margin-left: 2%;

  &:nth-child(3n+1) {
    margin-left: 0;
  }

}
